*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----------------------------------------------------------*/

.conteiner{
    position: relative;
}

.nome{
    font-size: 54px;
    font-family: bruno ace sc;
    color: #ff6f00;
    position: absolute;
    
    width: 100%;
    height: 103vh;
    background: linear-gradient(-45deg,  #012556, 35% , #980000 ,#000000);

}


.foto{
    position: absolute;
    border-radius: 50px;
    width: 470px;
    left: 50px;
    top: 150px;
    box-shadow: 4px 4px 5px 1.5px #000000e2;
}
.foto:hover{
    box-shadow: 0px 0px 10px #ffffff;
    transform: scale(1.1,1.1);
    transition: all 0.3s ease-in-out;
}
.foto:not(:hover) {
    transform: scale(1,1);
    transition: all 0.3s ease-in-out;
}



.titulo{
    position: absolute;
    font-size: 90px;
    left: 800px;
    top: 290px;
    font-family: play;
    color: #ffffff;
   
}

.ficha{
    position: absolute;
    font-family: play;
    font-size: 35px;
    top: 200px;
    left: 800px;
    color: #f0f0f0;

}
/*-----------------------------------------------------------*/




.calculo{
    position: relative;
}

.titulo-calculo{
    position: absolute;
    font-size: 39px;
    font-family: bruno ace sc;
    color: #ffffff;
    top: 650px;
    left: 80px;
}

.quantidade{
    position: absolute;
    font-size: 25px;
    font-family: bruno ace sc;
    color: #000000;

    border-radius: 52px;
    border: none;
    box-shadow: 4px 4px 5px 1.5px #000000;

    padding: 10px;
    top: 700px;
    left: 75px;
}



.titulo-preco{
    position: absolute;
    font-size: 39px;
    font-family: bruno ace sc;
    color: #ffffff;
    top: 650px;
    left: 530px;
}


.preco{
    position: absolute;
    font-size: 25px;
    font-family: bruno ace sc;
    color: #000000;

    border-radius: 52px;
    border: none;
    box-shadow: 4px 4px 5px 1.5px #000000;

    padding: 10px;
    width: 100px;
    top: 700px;
    left: 550px;
}

.btn-calcular{
    position: absolute;
    font-size: 29px;
    font-family: bruno ace sc;
    color: #000000;

    border-radius: 50px;
    border: none;
    box-shadow: 4px 4px 5px 1.5px #000000;

    height: 45px;
    width: 180px;
    top: 705px;
    left: 690px;
}
.btn-calcular:hover{
    color: #42d51d;
    transition: 0.5s;
}
.btn-calcular:not(:hover){
    transition:  0.7s ;
}

